---
import "../styles/global.css";

const pageTitle = "Sobre nosotros";
const identity = {
  firstName: "El Bondi Colectivo",
  country: "Abya Yala",
  occupation: "Colectivo artistico",
  practice: ["art conceptual", "installation art"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style define:vars={{ skillColor, fontWeight, textCase }}>
  h1 {
    color: purple;
    font-size: 4rem;
  }
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style>
	</head>
	<body>
        <a href="/">Inicio</a>
        <a href="/about/">Sobre nosotros</a>
        <a href="/blog/">blog</a>

        <h1>{pageTitle}</h1>
        <p>Algunos datos sobre nosotros:</p>
			<ul>
  			<li>Somos {identity.firstName}.</li>
  			<li>Somos de {identity.country} y trabajamos como {identity.occupation}.</li>
  			{identity.practice.length >= 2 &&
    		<li>Dos de mis aficiones son: {identity.practice[0]} y {identity.practice[1]}</li>
  }
			</ul>
			<p>Mis habilidades son:</p>
			<ul>
				{skills.map((skill) => <li class="skill">{skill}</li>)}
			</ul>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
